/* Lesson 1 starter CSS file.
   Add styles here in later lessons. */

body {
   background-color: #FBEFEF;
   margin: 0;
   font-family: Comfortaa , Delius, 'Fira Sans', Tahoma, Geneva, Verdana, sans-serif;
}

header {
   background-color: rgb(249, 219, 243);
   border-bottom: 1px solid rgb(246, 74, 234);
   text-align: center;
}

header p {
   margin: 0;
}

nav {
   border-bottom: 1px solid #dbe4f4;
}

header,
nav {
   padding: 10px 270px;
}

a {
   text-decoration: none;
}



.card {
   background-color: #FEFFFF;
   border: 1px solid #F7DEDE;
   margin: 10px 25px;
   border-radius: 10px;
   max-width: 60%;
   margin: 15px auto;
   padding: 8px;
}


